<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="//identidade-visual.rke.codataprd.pb.gov.br/img/codata/logo-branco.svg" alt="Logo Codata"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item 1
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subitem 1</a></li>
            <li><a class="dropdown-item" href="#">Subitem 2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item 2
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subitem 1</a></li>
            <li><a class="dropdown-item" href="#">Subitem 2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item 3
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subitem 1</a></li>
            <li><a class="dropdown-item" href="#">Subitem 2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item 4
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subitem 1</a></li>
            <li><a class="dropdown-item" href="#">Subitem 2</a></li>
          </ul>
        </li>
      </ul>

      <hr class="d-lg-none">
      <span class="navbar-text me-lg-4 d-inline-block">Olá, {{ user.first_name|title }}</span>
      <div class="vr me-3 d-none d-lg-inline-block d-lg-inline-block"></div>

      <form class="d-flex" method="post" action="{% url 'oidc_logout' %}">
        {% csrf_token %}
        <button class="btn btn-light" type="submit">Sair<i class="bi-box-arrow-in-right"></i></button>
      </form>
      {% else %}
      <hr class="d-lg-none">
      <div class="vr ms-auto me-3 d-none d-lg-inline-block d-lg-inline-block"></div>
      <a href="{% url 'oidc_authentication_init' %}" class="btn btn-light">Login</a>
      {% endif %}
    </div>
  </div>
</nav>